@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

body {
  font-family: "Chivo", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.06rem;
  background-color: rgb(223, 214, 191);
  color: #242321;
  margin-bottom: 25px;
}

.header {
  padding-top: 50px;
  padding-bottom: 0px;
}

h1 {
  color: #2e261e;
  font-size: 300%;
  letter-spacing: 0.25rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  padding-top: 25px;
  padding-bottom: 20px;
}

.bold {
  font-weight: bold;
}

/* Navigation */
.nav {
  padding-bottom: 15px;
}

a {
  color: #645201;
  text-decoration: none;
}

a:hover {
  color: rgb(180, 153, 0);
  text-decoration: none;
}

.fa-facebook:hover {
  color: rgb(180, 153, 0);
  text-decoration: none;
}

/* Custom button styles */
.btn {
  background-color: #968462; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none; /* Remove the default button border */
  transition: background-color 0.3s ease; /* Transition for smooth color change */
}

.btn-danger {
  background-color: #3d1412; /* Button background color */
}

.btn:hover {
  background-color: rgb(180, 153, 0); /* Background color when hovered over */
  border: 1px solid #ffffff; /* New border color when hovered over */
}


/* Popp up messages */
.messages {
  max-width: 300px; /* Adjust the width  */
  margin: 0 auto; /* Center the messages horizontally */
  padding-left: 0; /* Remove the default left padding */
}

.messages li {
  list-style: none; /* Remove the list dot */
  padding: 5px; /* Adjust the padding  */
  background-color: #f5f5f5; /* Set the background color */
  border: 1px solid #363326; /* Add a border */
  text-align: center; /* Center the message text */
  margin-bottom: 10px; /* Add some space between messages */
}

/* lables for form */
.form label {
  display: block;
  list-style: none; /* Remove the list dot */
  width: 100%;
  max-width: 300px; /* Adjust the max-width */
}

.form input,
.form select,
.form textarea {
  width: 100%;
  max-width: 300px; /* Adjust the max-width */
}

/* For form */
label,
input,
textarea {
  display: block;
  align-items: center;
  width: 85%;
  max-width: 400px;
  padding: 10px 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

input,
textarea {
  font-size: inherit;
  font-family: inherit;
}

label {
  margin-top: 10px;
}

#comment-form .form-row {
  margin-bottom: 10px;
}

#comment-form label {
  display: block;
  margin-left: 0px;
  font-weight: bold;
}

#comment-form textarea {
  width: 100%;
  height: 130px;
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 5px;
  float: left;
}

#comment-form button {
  clear: both;
  margin-left: 5px;
  margin-top: 10px;
}

.comment-box {
  border: 2px solid rgb(241, 234, 211);
  padding: 10px;
  margin-bottom: 10px;
}

/* Book container */
.month-book{
  text-align: center;
  background-color: rgb(241, 234, 211);
  border: 10px solid rgb(223, 214, 191);
  padding: 10px;
}

.book-rest{
  text-align: center;
  background-color: rgb(241, 234, 211);
  border: 10px solid rgb(223, 214, 191);
  padding: 10px;
}

.book-title {
  margin-top: 15px;
  margin-bottom: 20px; /* Add more spacing below the h3 element */
}

.book-info {
  margin-bottom: 7px;  /* Reduce the spacing between the paragraphs */
}

.book-author {
  margin-bottom: 20px;
}

.all-books {
  padding-left: 40px;
}

/* All images, not including hero image */
.picture {
  display: block;
  width: 100%;
  aspect-ratio: 4/2;
  object-fit: cover;
}


/* Footer */
footer {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  padding: 10px;
}

.fa-facebook {
  color: #4267b2;
}

