@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

/* Navigation */
a {
  color: #645201;
  text-decoration: none;
}

a:hover {
  color: rgb(180, 153, 0);
}

body {
  font-family: "Chivo", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.06rem;
  /* background-color: rgb(228, 197, 72); */
  background-color: rgb(223, 214, 191);
  color: #242321;
}

h1 {
  color: #2e261e;
  font-size: 300%;
  letter-spacing: 0.25rem;
  font-weight: bold;
  text-align: center;
}

/* Popp up messages */
.messages {
  max-width: 300px; /* Adjust the width  */
  margin: 0 auto; /* Center the messages horizontally */
  padding-left: 0; /* Remove the default left padding */
}

.messages li {
  list-style: none; /* Remove the list dot */
  padding: 5px; /* Adjust the padding  */
  background-color: #f5f5f5; /* Set the background color */
  border: 1px solid #ddd; /* Add a border */
  text-align: center; /* Center the message text */
  margin-bottom: 10px; /* Add some space between messages */
}

/* Book container */
.month-book{
  text-align: center;
  background-color: rgb(241, 234, 211);
  border: 10px solid rgb(223, 214, 191);
  padding: 10px;
}

.book-rest{
  text-align: center;
  background-color: rgb(241, 234, 211);
  border: 10px solid rgb(223, 214, 191);
  padding: 10px;
}

/* lables for form */
.form label {
  display: block;
  list-style: none; /* Remove the list dot */

  width: 100%;
  max-width: 300px; /* Adjust the max-width value */
}

.form input,
.form select,
.form textarea {
  width: 100%;

  max-width: 300px; /* Adjust the max-width value  */
}


/* For contact form */
.required:after {
  content: " *";
  color: red;
}


/* All images, not including hero image */
.picture {
  display: block;
  width: 100%;
  aspect-ratio: 4/2;
  object-fit: cover;
}


/* Footer */
footer {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.fa-facebook {
  color: #4267b2;
}
