{% extends 'base.html' %}

{% block content %}


<section id="main">
    <!-- book_detail.html -->
    <h2>{{ book.title }}</h2>
    <p>Title:{{book.book_title}}</p>
    <p>Author: {{ book.book_author }}</p>
    <p>About: {{ book.book_description }}</p>
    <p>Likes</p>

</section>

<!-- Content for logged-in users -->
<section id="comment">
  {% if user.is_authenticated %}
    <div>
        <h2>Welcome, {{ user.username }}!</h2>
        <p>Wath did you think aboth this book?</p>
        <h2>Like to leav a comment?</h2>
        <!--Input field-->
        <form method="POST" action="https://formdump.codeinstitute.net">
          <textarea id="info" name="info" cols="30" rows="10" required placeholder="Comment"></textarea>
          <input id="contact_button" type="submit" value="Send">
        </form>
    </div>
    <div>
      <p>Rating</p>
    </div>
  {% else %}
    <div>
        <!-- Content for non-logged-in users -->
        <p>Please log in to leav a comment.</p>
    </div>
  {% endif %}

</Section>

{% endblock %}
