{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <section id="main">
          <h2>{{ book.title }}</h2>
          <p class="bold">Title: {{ book.book_title }}</p>
          <p class="bold">Author: {{ book.book_author }}</p>
          <p>About: {{ book.book_description }}</p>
      </section>
    </div>
  </div>
</div>
<br>

<!-- Content for logged-in users, Comment form -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      {% if user.is_authenticated %}
        <div>
            <h4>Welcome, {{ user.username }}!</h4>
            <p>What did you think about this book?</p>
            <form id="comment-form" method="post" action="{% url 'add_comment' book_id=book.id %}">
              {% csrf_token %}
              <div class="form-row">
                  <label for="id_content">Like to leave a comment?</label>
              </div>
              <div class="form-row">
                  <textarea id="id_content" name="content"></textarea>
              </div>
              <div class="form-row">
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Comment views, for logged-in users -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="center">
          <h2>Comments:</h2>
          {% for comment in comments reversed %}
            <div class="comment-container comment-box">
              <p class="bold">{{ comment.user.username }} says:</p>
              <p>{{ comment.content }}</p>
              {% if user.is_authenticated and user == comment.user %}
                <form method="post" action="{% url 'delete_comment' comment_id=comment.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              {% endif %}
            </div>
          {% empty %}
            <p>No comments yet.</p>
          {% endfor %}
        </div>
      {% else %}
        <div>
            <!-- Content for non-logged-in users -->
            <p>Please log in to leave a comment.</p>
        </div>
      {% endif %}
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#comment-form').submit(function(event) {
      event.preventDefault(); // Prevent the form from submitting normally

      var form = $(this);
      var url = form.attr('action');
      var formData = form.serialize();

      // Submit the form using AJAX
      $.ajax({
        type: 'POST',
        url: url,
        data: formData,
        success: function(response) {
          // Reload the page after successful submission
          location.reload();
        },
        error: function(xhr) {
          // Handle errors and display an error message
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'An error occurred while submitting the comment. Please try again.',
          });
        }
      });
    });
  });
</script>

{% endblock %}
