{% extends 'base.html' %}

{% block content %}
<body>

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia explicabo soluta error facere consequuntur, alias voluptatum ipsum, facilis maxime ab dolorum eum quis ut quam quo dignissimos aperiam expedita earum.</p>

  <section id="main">
    <div class="container lg">
      <h2 class="text-center">Book of the month</h2>
      <div class="row">
        <div class="col-sm-6">
          <h1>Posts</h1>
          <div>
            {% if latest_book %}
              <h2>{{ latest_book.title }}</h2>
              <p>{{ latest_book.author }}</p>
              <!-- Add more fields as needed -->
            {% else %}
                <p>No books available.</p>
            {% endif %}
        
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="reesent">


      <div class="container-mt5">
          <div class="row">
                      <div class="col-sm-6">
                        <h3>May</h3>
                        {% for book in books %}
                        <h2>{{ book.title }}</h2>
                        <p>{{ book.author }}</p>
                        <!-- Add more fields as needed -->
                        {% endfor %}
                      </div>

                <div class="col-sm-3">
                  <h3>April</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>

                  <div class="col-sm-3">
                    <h3>February</h3>        
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                  </div>
          </div>
      </div>
    </section>
{% endblock %}
