{% extends 'base.html' %}

{% block content %}
<div class="container-fluid top">
  <div class="row justify-content-center">
    <div class="col-9 text-center">
      <p>This book club is for you who love classic sci-fi books. Log in and get started now. We're aiming for the stars.</p>
      <h2 class="text-center">Book of the month</h2>
    </div>
  </div>
</div>

<div class="container body">
  <div class="row">
    <div class="col-12">

      <div class="row month-book">
        {% for book in books %}
          {% if forloop.first %}
            <div class="col">
              <a href="{% url 'book_detail' book.id %}">
                <h3 class="book-title">{{ book.title }}</h3>
                <p class="book-info">Title: {{ book.book_title }}</p>
                <p class="book-author">Author: {{ book.book_author }}</p>
                <!-- ... -->
              </a>
            </div>
          {% else %}
            {% if forloop.counter == 2 %}
            </div>

            <div class="row row-cols-3 g-3 rest">
              <div class="col-12 col-sm-4 col-md-4 book-rest">
                <a href="{% url 'book_detail' book.id %}" class="">
                  <h3 class="book-title">{{ book.title }}</h3>
                  <p class="book-info">Title: {{ book.book_title }}</p>
                  <p class="book-author">Author: {{ book.book_author }}</p>
                  <!-- ... -->
                </a>
              </div>
            
            {% else %}
              <div class="col-12 col-sm-4 col-md-4 book-rest">
                <a href="{% url 'book_detail' book.id %}" class="">
                  <h3 class="book-title">{{ book.title }}</h3>
                  <p class="book-info">Title: {{ book.book_title }}</p>
                  <p class="book-author">Author: {{ book.book_author }}</p>
                  <!-- ... -->
                </a>
              </div>
            {% endif %}
          {% endif %}
        {% empty %}
          <div class="col">
            <p>No books available.</p>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

{% endblock %}


