{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        
      <!-- Add a new book form -->
      <section class="text-center">
            <h2>Library site</h2>
            <h2>Add a new book</h2>
            <form method="POST" action="{% url 'manager' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" value="Create Book" class="btn btn-primary">Create Book</button>
            </form>
        </section>
          <!-- List all books -->
          <section>
            <h2>All Books</h2>
            <ul>
              {% for book in books %}
              <li>
                <a href="{% url 'update_book' book.id %}">{{ book.title }} - {{ book.book_title }}</a>
              </li>
              {% endfor %}
            </ul>
          </section>
    </div>
  </div>
</div>


{% endblock %}
