{% extends 'base.html' %}

{% block content %}

  <div class="hero">
    <section class="backgroundbox">
       
      <div>
        <h2>Manager site</h2>

        <!--Input field-->
        <h2>Add a new book</h2>
          <form method="POST" action="{% url 'manage' %}">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" name="title" required>
            <br>
            <label for="book_title">Book Title:</label>
            <input type="text" name="book_title" required>
            <br>
            <label for="book_author">Book Author:</label>
            <input type="text" name="book_author" required>
            <br>
            <label for="book_description">Book Description:</label>
            <textarea name="book_description" required></textarea>
            <br>
            <input type="submit" value="Create Post">
          </form>
        
      </div>

    </section>
  </div>

{% endblock %}
  