<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ page_title }}</title>
</head>

<body>
  <div class="hero">
    <section class="backgroundbox">
      <h1><i<i class="fa-regular fa-dragon"></i> Sci Fi Book Club</h1>

                  <!-- Top navigation -->
                  <nav>
                    <a href="index.html" >Home</a>
                    <a href="book_of_the_month.html">Book of the month</a>
                    <a href="login.html" class="active_page">Login</a>
                    <a href="manager.html">manager</a>
                  </nav>

      <div>
        <h2><i class="fa-regular fa-square-check"></i> Sign up</h2>
        <!-- Contact form -->
        <form method="POST" action="https://formdump.codeinstitute.net">
            <label for="name" class="required">Usar Name</label>
            <input id="name" name="name" type="text" required placeholder="Enter a usar name">
            <label for="email" class="required">Email</label>
            <input id="email" name="email" type="email" required placeholder="Your email">

            <label for="password" class="required">password</label>
            <input id="password" name="password" type="password" required placeholder="Your password">
            <label for="password2" class="required">password again</label>
            <input id="password2" name="password2" type="password" required placeholder="Enter Your password again">
            <input id="contact_button" type="submit" value="Sign up">
          </form>
        </ul>
      </div>

    </section>
  </div>
  <!--JavaScript-->
  <script src="assets/js/script.js"></script>
</body>

</html>