{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <section class="backgroundbox">

          <div>
            <h2>Sign up</h2>
                <!-- signup form -->
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign Up</button>

              <p><a href="{% url 'login' %}">Or Login</a></p>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
  