{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6">
      <section class="text-center">
        <h2>Update Book</h2>
        <form method="POST" action="{% url 'update_book' book.id %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary" aria-label="Update Book">Update</button>
        </form>
        <br>
        <!-- Delete book form -->
        <form id="delete-book-form" method="POST" action="{% url 'delete_book' book.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" aria-label="Delete Book">Delete</button>
        </form>
      </section>
    </div>
  </div>
</div>


<!-- Delete confermation -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const deleteForm = document.getElementById('delete-book-form');
    deleteForm.addEventListener('submit', confirmDelete);
  });

  function confirmDelete(event) {
    event.preventDefault(); // Prevent the form submission

    let form = event.currentTarget;

    if (confirm('Are you sure you want to delete the book?')) {
      form.submit(); // Submit the form if the user confirms deletion
    }
  }
</script>


{% endblock %}
